{% load static %}
<!-- Footer Start -->
		<footer id="footer" class="bg-dark text-center text-white text-lg-start fixed-bottom">
			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="widget widget-newsletter">
								<div class="widget-title">
									{% comment %} <h5>Subscribe to our Newsletter</h5> {% endcomment %}
								</div>
								<div class="fieldset">
									{% comment %} <form action="#">
										<div class="field-holder">
											<label>
												<i class=" icon-envelope3"></i>
												<input type="text" class="field-input" placeholder=" Enter Your Email Address...">
											</label>
										</div>
										<div class="field-holder btn-holder">
											<input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
										</div>
									</form> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="copyright-inner">
								<div class="copy-right" styles="">
									<p>© 2023  Penny Cates</p>
                                    {% comment %} <a href="#">Penny Cates</a>  {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.cs-copyright -->
		</footer>
		<!-- Footer End -->
	</div>

    	<!-- Modal Popup End -->
	
	
</body>

</html>